/**
 *  Bandline styling
 *
 * Implementation of Stephen Few's bandlines
 *
 * Copyright Robert Monfera
 * Design: Stephen Few
 * Design documentation: https://www.perceptualedge.com/articles/visual_business_intelligence/introducing_bandlines.pdf
 */

g.bandLine .band,
g.sparkStrip .band {
    fill: black
}

g.bands .band.s0 {fill: rgb(188, 189, 192)}
g.bands .band.s1 {fill: rgb(224, 225, 227)}
g.bands .band.s2 {fill: rgb(247, 247, 248)}
g.bands .band.s3 {stroke: white; stroke-width: 1px; fill: none;} /* for more prominent color: hsl(120, 100%, 38%) */

g.bandLine,
g.sparkStrip {
    fill: none;
}

g.bandLine .valueLine,
g.sparkStrip .valueBox,
g.sparkStrip .valuePoints,
g.bandLine .valuePoints .point.highOutlier {
    stroke: black; /*rgb(226, 60, 180);*/
}

g.bandLine .valuePoints {
    fill: black; /*rgb(226, 60, 180);*/
}

g.bandLine .valueLine {
    stroke-width: 1;
}

g.sparkStrip .valueBox,
g.sparkStrip .valuePoints {
    stroke-width: 0.5;
}

g.sparkStrip .valueBox,
g.bandLine .valuePoints .point.highOutlier {
    fill: white;
}