body {
    margin-left: 100px;
    margin-top: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

button {
    position: absolute;
    right: 10px;
    top: 10px;
}