@charset "UTF-8";

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, html {
    width: 100%;
    height: 100%;
}

svg {
    shape-rendering: geometricPrecision;
    width: 100%;
    height: 100%;
}

html {
    overflow: hidden
}

body {
    margin: 0px;
}

text {
    cursor: default;
}



/* Rows */

rect.rowCaptureZone {
    stroke: none;
    fill: white;
    fill-opacity: 0.001;
}

/* Interactions */

.row *, .headerTitle, .headerText.interactive {
    cursor: pointer;
}


/**
 * Cells
 */


/**
 * Axes in general
 */


/**
 * Column axes
 */


/**
 * Distributions - histogram
 */

g.distributionsGroup g.gradeHistogram g.xAxis .tick line {
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
}

g.distributionsGroup g.gradeHistogram rect.barAes {
    fill: lightgray;
}

/**
 * Distributions - boxplot
 */

g.distributionsGroup g.assignmentDistributions g.yAxis .tick line {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}

g.distributionsGroup g.assignmentDistributions circle.bee {
    /* fill: black; */
    stroke: none;
    opacity: 0.05;
}

g.distributionsGroup g.assignmentDistributions line.beeLine {
    stroke-width: 1px;
    stroke: chocolate;
    opacity: 0.7;
}

g.distributionsGroup g.assignmentDistributions g.boxplot line.quintile2,
g.distributionsGroup g.assignmentDistributions g.boxplot line.quintile4,
g.distributionsGroup g.assignmentDistributions g.boxplot line.median {
    stroke-width: 2px;
    opacity: 0.67;
}
    /**
     * Tser group
     */

g.tserGroup line.bar {
    stroke: black;
    stroke-width: 1.5px;
}

/**
 * Benchmark group
 */

g.benchmarkGroup g.chart g.chartLine path.line {
    stroke: inherit;
    fill: none;
}
g.benchmarkGroup g.chart g.chartLine circle.linePoint {
    fill: inherit;
}

g.benchmarkGroup g.xAxis .tick line {
   -webkit-transform: translateX(38px);
   transform: translateX(38px);
}


/**
 * Median group
 */

g.medianGroup g.tableColumn text {
    font-size: 14px;
    text-anchor: end;
}














g.dashboard {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

text.headerTitle {
    letter-spacing: 0;
    font-size: 18px;
}