@charset "UTF-8";

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, html {
    width: 100%;
    height: 100%;
}

svg {
    shape-rendering: geometricPrecision;
    width: 100%;
    height: 100%;
}

html {
    overflow: hidden
}

body {
    margin: 0px;
}

text {
    cursor: default;
}

rect.rowCaptureZone {
    stroke: none;
    fill: white;
    fill-opacity: 0.001;
}

/* Interactions */

.row *, .headerTitle, .headerText.interactive {
    cursor: pointer;
}

g.dashboard {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

text.headerTitle {
    letter-spacing: 0;
    font-size: 18px;
}